### 1. Create a function that takes a list and string. The function should remove the letters in the string from the list, and return the list.

**Examples**

remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string") ➞ ["w"]<br>
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon") ➞ ["b", "g", "w"]<br>
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit") ➞ []

**Ans:**

In [1]:
def remove_letters(lst, string):
    for i in string:
        if i in lst:
            lst.remove(i)
    return lst
    
print(remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string"))
print(remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon"))
print(remove_letters(["d", "b", "t", "e", "a", "i"], "edabit"))

['w']
['b', 'g', 'w']
[]

### 2. A block sequence in three dimensions. We can write a formula for this one:

Create a function that takes a number (step) as an argument and returns the amount of blocks in that step.

**Examples**

blocks(1) ➞ 5<br>
blocks(5) ➞ 39<br>
blocks(2) ➞ 12

**Ans:**

In [2]:
def blocks(step):
    return 5*step + sum(range(2,step+1))

print(blocks(1))
print(blocks(5))
print(blocks(2))

5
39
12

### 3. Create a function that subtracts one positive integer from another, without using any arithmetic operators such as -, %, /, +, etc.

**Examples**

my_sub(5, 9) ➞ 4<br>
my_sub(10, 30) ➞ 20<br>
my_sub(0, 0) ➞ 0

**Ans:**

In [3]:
def my_sub(n1, n2):
    x = n2
    y = n1
    while (y != 0):
        borrow = (~x) & y
        x = x ^ y
        y = borrow << 1

    return x

print(my_sub(5, 9))
print(my_sub(10, 30))
print(my_sub(0, 0))

4
20
0

### 4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and returns the sum of dollar bills only, as an integer.

For the input string:
- Each amount is prefixed by the currency symbol: $ for dollars and £ for pounds.
- Thousands are represented by the suffix k.

i.e. \$4k = \$4,000 and £40k = £40,000

**Examples**

add_bill("d20,p40,p60,d50") ➞ 20 + 50 = 70<br>
add_bill("p30,d20,p60,d150,p360") ➞ 20  + 150 = 170<br>
add_bill("p30,d2k,p60,d200,p360") ➞ 2 * 1000 + 200 = 2200

**Ans:**

In [4]:
def add_bill(string):
    sum_ = 0
    bills = string.split(",")
    for bill in bills:
        if bill.startswith('d'):
            amt = bill.split("d")[1]
            if "k" in amt:
                n = int(amt.split("k")[0])
                amt = n * 1000 
            sum_ += int(amt)
            
    return sum_

print(add_bill("d20,p40,p60,d50"))
print(add_bill("p30,d20,p60,d150,p360"))
print(add_bill("p30,d2k,p60,d200,p360"))

70
170
2200

### 5. Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.

**Examples**

flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]<br>
\# Take a horizontal list and flip it vertical.

flip_list([[5], [6], [9]]) ➞ [5, 6, 9]<br>
\# Take a vertical list and flip it horizontal.

flip_list([]) ➞ []

**Ans:**

In [5]:
def flip_list(lst):
    return [x[0] if isinstance(x, list) else [x] for x in lst]

print(flip_list([1, 2, 3, 4]))
print(flip_list([[5], [6], [9]]))
print(flip_list([]))

[[1], [2], [3], [4]]
[5, 6, 9]
[]