### 1. What are the differences between operators and values in the following?
- *
- 'hello'
- -87.8
- -
- /
- +
- 6

**Ans:**<br>
*** :** It is a multiplication operator <br>
**'hello' :** It is a string <br>
**-87.8 :** It is a float data type <br>
**- :** It is a subtraction operator <br>
**/ :** It is a division operator <br>
**+ :** It is an addition operator <br>
**6 :** It is an integer <br>

### 2. What is the difference between string and variable? <br> 
spam <br>
'spam'

**Ans:** <br> 
'spam' is a string where as spam is a variable

**String:**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [1]:
type("string")

str

In [2]:
type('string')

str

**Variable:**

Variables are containers for storing data values.

We can assign any value (string,integer,boolean etc.) to a variable.

In [3]:
spam = "spam"
spam = 12
spam = 14.67
spam = True

### 3. Describe three different data forms.

**Ans:**

Three different data forms -
1. List

In [4]:
l = [1,2,3,4]
print(l)
type(l)

[1, 2, 3, 4]

list

2. Tuple

In [5]:
t = (1,2,3,4)
print(t)
type(t)

(1, 2, 3, 4)

tuple

3. Dictionary

In [6]:
d = {1:"a", 2:"b"}
print(d)
type(d)

{1: 'a', 2: 'b'}

dict

4. Set

In [7]:
s = {1,2,3,3,4}
print(s)
type(s)

{1, 2, 3, 4}

set

### 4. What makes up an expression? What are the functions of all expressions?

**Ans:**

- An expression is a combination of values, variables, operators, and calls to functions. 
- Expressions need to be evaluated. 
- If you ask Python to print an expression, the interpreter evaluates the expression and displays the result.

### 5. In this chapter, assignment statements such as spam = 10 were added. What's the difference between a declaration and an expression?

**Ans:**

Declaration represent an action or command e.g print statements, assignment statements.

In [8]:
print ('hello')
x = 1

hello

Expression is a combination of variables, operations and values that yields a result value. An expression is something that can be reduced to a value

In [9]:
5 * 5

25

It is an expression

In [10]:
var = 5 * 5

It is not an expression

Expression statements

In [11]:
print (5*5)

25

### 6. After running the following code, what does the variable bacon contain?
bacon = 22 <br>
bacon + 1

**Ans:**

In [12]:
bacon = 22
bacon + 1

23

In [13]:
print(bacon)

22

Bacon contains 22 as we have not assigned the new value to bacon

To get the new value, we have to assign it to bacon

In [14]:
bacon = bacon + 1

In [15]:
print(bacon)

23

Now we got 23

### 7. What should the values of the following two terms be?

'spam' + 'spamspam' <br>
'spam' * 3

**Ans:**

In [16]:
'spam' + 'spamspam'

'spamspamspam'

\+ operator can be used to concatenate two strings

In [17]:
'spam' * 3

'spamspamspam'

When we multiply n with a string, we get string n times

### 8. Why is it that eggs is a true variable name but 100 is not?

**Ans:**

- According to the rules for declaring a variable, a variable name cannot start with a number. That's why 100 is not a true variable name.
- However, can contain alpha-numeric characters and underscores (A-z, 0-9, and _ ). So, eggs is a true variable name.

### 9. Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string?

**Ans:**

To convert value to <br>
**Integer:**

In [18]:
print(int("45678"))
print(int(134.0))
print(int(True))

45678
134
1

**Float:**

In [19]:
print(float("86557"))
print(float(781))
print(float(True))

86557.0
781.0
1.0

**String:**

In [20]:
print(str(9657))
print(str(6555.0))
print(str(True))

9657
6555.0
True

### 10. What is the error caused by this expression? What would you do about it? <br>
'I have eaten ' + 99 + ' burritos.'

**Ans:**

The error caused by this expression is:

In [21]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

It gives this error because 99 is an integer. And we cannot concatenate int with str.

To fix this error, we have to covert the integer to string by using str() method.

In [22]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

Now we can print the statement.