### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

**Ans:**

In [1]:
test1 = 'This is a test of the emergency text system,'

f1 = open('test.txt', mode='w+')
f1.write(test1)

44

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

**Ans:**

In [2]:
f1.seek(0)
test2 = f1.read()
test2

'This is a test of the emergency text system,'

There is no difference between test1 and test2

### 3. Create a CSV file called books.csv by using these lines:
title,author,year<br>
The Weirdstone of Brisingamen,Alan Garner,1960<br>
Perdido Street Station,China Miéville,2000<br>
Thud!,Terry Pratchett,2005<br>
The Spellman Files,Lisa Lutz,2007<br>
Small Gods,Terry Pratchett,1992

**Ans:**

In [3]:
import csv
import pandas as pd

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["title","author","year"])
    writer.writerow(["The Weirdstone of Brisingamen","Alan Garner","1960"])
    writer.writerow(["Perdido Street Station","China Miéville","2000"])
    writer.writerow(["Thud!","Terry Pratchett","2005"])
    writer.writerow(["The Spellman Files","Lisa Lutz","2007"])
    writer.writerow(["Small Gods","Terry Pratchett","1992"])
    
pd.read_csv('books.csv', sep=',', encoding='latin-1')

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

**Ans:**

In [4]:
import sqlite3

c = sqlite3.connect("books.db")

c.execute("CREATE TABLE books(title text, author text, year int)")

### 5. Read books.csv and insert its data into the book table.

**Ans:**

In [5]:
with open('books.csv','r') as file: 
    dr = csv.DictReader(file) 
    to_db = [(i['title'], i['author'], i['year']) for i in dr]

c.executemany("INSERT INTO books (title, author, year) VALUES (?, ?, ?);", to_db)
c.commit()

### 6. Select and print the title column from the book table in alphabetical order.

**Ans:**

In [6]:
for i in c.execute("SELECT title FROM books ORDER BY title"):
    print(i)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

### 7. From the book table, select and print all columns in the order of publication.

**Ans:**

In [7]:
for i in c.execute("SELECT * FROM books ORDER BY year"):
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

**Ans:**

In [ ]:
from sqlalchemy import create_engine
db=create_engine('sqlite:////books.db')
pd.read_sql('select * from books',db)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

**Ans:**

### 10. Increment the count field of test and print it.

**Ans:**